<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

Welcome, Captain <%= @user.name %>!
You command the GSS <%= @user.shipname %>.

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Total Rock Missiles:</strong>
  <%= @user.rocks %>
</p>

<p>
  <strong>Total Plasmatic Papers:</strong>
  <%= @user.papers %>
</p>

<p>
  <strong>Total Scissor Slicers:</strong>
  <%= @user.scissors %>
</p>






<%= link_to 'Play', pages_play_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
