<%= javascript_include_tag "mainplay" %>
<script type="text/javascript">
  var enshieldpoints = "<%= current_enemy.shieldpoints %>";
  var enhullpoints = "<%= current_enemy.hullpoints %>";
  BeginFight();
</script>
<body onload="BeginFight()">

<h1>Pages#play</h1>
<p>KILL THE BADDIES</p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Ship Name:</strong>
  <%= current_user.shipname %>
</p>

<p>
  <strong>Battle Rock Missiles Played:</strong>
  <div id="RockTallyFight"></div>
</p>

<p>
  <strong>Battle Plasmatic Papers Played:</strong>
  <div id="PaperTallyFight"></div>
</p>

<p>
  <strong>Battle Scissor Slicer Beams Played:</strong>
  <div id="ScissorsTallyFight"></div>
</p>


<p>
  <strong>Enemy Race:</strong>
  <%= current_enemy.race %>
</p>

<p>
  <strong>Enemy Ship Name:</strong>
  <%= current_enemy.enshipname %>
</p>

<p>
  <strong>Enemy Hullpoints:</strong>
  <%= current_enemy.hullpoints %>
</p>

<button id="PlayRock" onclick="PlayRock()">Fire Rock Missile</button>
<button id="PlayPaper" onclick="PlayPaper()">Fire Plasmatic Paper</button>
<button id="PlayScissors" onclick="PlayScissors()">Fire Scissor Slicer</button>

<p>
  <strong>Results:</strong>
  <div id="PlayerMoveShow"></div>
  <div id="EnemyMoveShow"></div>
  <div id="AttackResultShow"></div>
</p>

<table border="1">
<tr>
<td>Player Hull Points</td>
<td>Player Shield Points</td>
<td>Enemy Hull Points</td>
<td>Enemy Shield Points</td>
</tr>
<tr>
<td><div id="playerhpshow"></div></td>
<td><div id="playerspshow"></div></td>
<td><div id="enemyhpshow"></div></td>
<td><div id="enemyspshow"></div></td>
</tr>
</table>
