<%= javascript_include_tag "mainplay" %>
<script type="text/javascript">
  var enshieldpoints = "<%= current_enemy.shieldpoints %>";
  var enhullpoints = "<%= current_enemy.hullpoints %>";
  BeginFight();
</script>

<!-- preloading images so they don't flicker -->
<script type="text/javascript">
if (document.images) {
    img1 = new Image();
    img1.src = "PlayerShipFullDamage.png";
    img2 = new Image();
    img2.src = "PlayerShipMinorDamage.png";
    img3 = new Image();
    img3.src = "EnemyShipFullDamage.png";
    img4 = new Image();
    img4.src = "EnemyShipMinorDamage.png";
}
</script>
<body onload="BeginFight()">

<h1>Pages#play</h1>


<p>
  <strong>Enemy Race:</strong>
  <%= current_enemy.race %>
</p>

<p>
  <strong>Enemy Ship Name:</strong>
  <%= current_enemy.enshipname %>
</p>

<p>
  <strong>Enemy Hullpoints:</strong>
  <%= current_enemy.hullpoints %>
</p>

<button id="PlayRock" onclick="PlayRock()">Fire Rock Missile</button>
<button id="PlayPaper" onclick="PlayPaper()">Fire Plasmatic Paper</button>
<button id="PlayScissors" onclick="PlayScissors()">Fire Scissor Slicer</button>

<p>
  <strong>Results:</strong>
  <div id="PlayerMoveShow"></div>
  <div id="EnemyMoveShow"></div>
  <div id="AttackResultShow"></div>
</p>

<center>
<table border="0">
<tr>
<td><center>Captain <%= current_user.name %> - GSS <%= current_user.shipname %></center></td>
<td><center><%= current_enemy.enshipname %></center></td>
</tr>
<tr>
<td style="width:320px; height:240px; background-image:url(/assets/PlayerShip.png)"><div id="playershipimg"></div></td>
<td style="width:320px; height:240px; background-image:url(/assets/EnemyShip.png)"><div id="enemyshipimg"></div></td>
</tr>
</table>

<table border="1">
<tr>
<td>Player Hull Points</td>
<td>Player Shield Points</td>
<td>Enemy Hull Points</td>
<td>Enemy Shield Points</td>
</tr>
<tr>
<td><div id="playerhpshow"></div></td>
<td><div id="playerspshow"></div></td>
<td><div id="enemyhpshow"></div></td>
<td><div id="enemyspshow"></div></td>
</tr>
</table>
<div id="fightresultshow"></div>
<div id="fighttallyresultshow"></div>
</center>
